*{
    margin: 0;
    padding: 0;
    
}
.wrap{
    text-align: center;
    margin: auto;

}
.item{
    display: flex;
    justify-content: center;
}
.box{
    width: 150px;
    height: 150px;
    background: #000;
    border: 5px solid red;
    margin: 10px;
    border-radius: 50%;

}
::-webkit-scrollbar{
    width: 10px;
    height: 100px;
    background: yellow;
}